# Ignore everything
*

# But not these directories
!.github/
!frontend/
!server/

# And not this file
!docker-compose.yml
!setup.ps1
!setup.sh

# Ignore any files within the tracked directories
!.github/**
!frontend/**
!server/**

# Ignore any other files that might exist in the root directory
!.gitignore

# Ignore venv
venv
venv39
.venv

# Ignore e2e tests
test_e2e_*.py

# Ignore pycache
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw